*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.pyd
*.swp
*~
.DS_Store
.cache
.idea/
.idea_modules/
.mypy_cache
.project
.pydevproject
.pytest_cache
.ruff_cache
.scrapy
.settings
.vscode
venv/
python/dist/
__pycache__/
bin
etc
pyenv.cfg
share
tmp
.ipynb_checkpoints
pyvenv.cfg
apps/jupyter/bind_dir/redirect.html
.venv
lib/remote-processors/remote_processors/*pb2*
poetry.toml
lib/aryn-sdk/dist/
luna_traces/
traces/
apps/jupyter/bind_dir/poetry_cache
apps/query-ui/cache_dir
docs/build
cache
