repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.4.0'
    hooks:
      - id: check-ast   # checks Python syntax
      - id: check-json  # checks JSON syntax
      - id: check-yaml  # checks YAML syntax
      - id: check-toml  # checks TOML syntax
      - id: end-of-file-fixer  # checks there is a newline at the end of the file
      - id: trailing-whitespace  # trims trailing whitespace
      - id: check-merge-conflict  # checks for no merge conflict strings
      - id: check-shebang-scripts-are-executable  # checks all shell scripts have executable permissions
      - id: mixed-line-ending  # normalizes line endings
      - id: no-commit-to-branch  # prevents committing to main

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.0.287'
    hooks:
      - id: ruff
        name: ruff

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
        - id: mypy
          # same args as used in .github/workflows/linting.yml
          args: [--install-types, --explicit-package-bases, --non-interactive]
          exclude: docs/

  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        # Needed because otherwise it seems to always run pytest in the git root.
        entry: poetry run pytest lib/sycamore/sycamore/tests/unit apps/crawler/crawler/s3/tests/unit
        language: system
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: http-integration-test
        name: http-integration-test
        entry: bash apps/crawler/crawler/http/tests/http_crawler_integration.sh
        language: system
        pass_filenames: false
        always_run: true

  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
