[tool.poetry]
name = "sycamore-monorepo"
version = "0.0.1"
description = "Sycamore is an LLM-powered semantic data preparation system for building search applications."
authors = ["aryn.ai <opensource@aryn.ai>"]
readme = "README.md"
repository = "https://github.com/aryn-ai/sycamore.git"


[tool.poetry.urls]
"Repository" = "https://github.com/aryn-ai/sycamore.git"
"Documentation" = "https://sycamore.readthedocs.io"

[tool.poetry.dependencies]
python = ">=3.9,<3.12"

sycamore-ai = "^0.1.13"

# Dependencies for building docs. Defined as an extra
# so they can be installed using pip on RTD.
furo = { version = "^2023.9.10", optional = true }
myst-parser = { version = "^2.0.0", optional = true }
sphinx = { version = "^7.2.5", optional = true }
rouge = "^1.0.1"
anthropic = "^0.25.8"


[tool.poetry.group.test.dependencies]
flake8 = "4.0.1"
pytest = "^7.4"
pytest-mock = "^3.11"

[tool.poetry.group.dev.dependencies]
sycamore-ai = { path = "lib/sycamore", develop = true }
sycamore-crawler = { path = "apps/crawler", develop = true }
remote-processors = { path = "lib/remote-processors", develop = true }
integration = { path = "apps/integration", develop = true }
sycamore-poetry-lock = { path = "lib/poetry-lock", develop = true }
ruff = "^0.0.287"
black = "^23.7.0"
pre-commit = "^3.4.0"
mypy = "^1.5.1"
nbmake = "^1.4.5"

[tool.poetry.group.notebook.dependencies]
jupyterlab = "^4.0.11"
jupyter-lsp = "^2.2.2"
ipywidgets = "^8.1.0"
notebook = "^7.1.2"

[tool.poetry.group.docker.dependencies]
requests = "^2"
redis-om = "^0.2"

[tool.poetry.group.crawler.dependencies]
scrapy = "^2.11.1"
cryptography = "^42.0.3"

[tool.poetry.extras]
docs = ["furo", "myst-parser", "sphinx"]

[tool.ruff]
line-length = 120

[tool.black]
line-length = 120

[mypy]
mypy_path = "apps/crawler/crawler/s3:apps/crawler/crawler/http"
explicit_package_bases = true

[tool.mypy]
exclude = ["notebooks", "docs"]
ignore_missing_imports = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
pythonpath = [ "." ]

[tool.poetry-autolock.dependents]
integration = "apps/integration"
