*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.pyd
*.swp
*~
.DS_Store
.cache
.idea/
.idea_modules/
.mypy_cache
.project
.pydevproject
.pytest_cache
.ruff_cache
.scrapy
.settings
.vscode
venv/
python/dist/
__pycache__/
