on:
  release:
    types: [published]

jobs:
  test-pypi-release:
    name: Upload to PyPI
    runs-on: ubuntu-latest
    environment:
      name: PyPI
      url: https://pypi.org/project/sycamore-ai/
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'poetry'
      - name: Install
        run: poetry install
        working-directory: lib/sycamore
      - name: build
        run: poetry build
        working-directory: lib/sycamore
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
          packages-dir: lib/sycamore/dist
